
@cartify_order_items.each do |cartify_order_items|
    %p= cartify_order_items.quantity
    %p= cartify_order_items.unit_price
    %p= cartify_order_items.menuitem_id
    /= This is a link helper "add_to_cart(product, quantity, button_name) to each menu item"
    /= not sure how to connect to payment gateway yet
    %checkout_link

